{% extends "dash_admin.html" %}

{% block content %}
<style>

</style>
<!--<div  class="container-fluid text-center dash_title">-->
<!--    <h1 class="menu_title">DASHBOARD</h1>-->
<!--&lt;!&ndash;    <h5 class="sub_menu_title">PAINEL DE CONTROLE</h5>&ndash;&gt;-->
<!--</div>-->
<div class="skull">
<div class="options">
    <div class="option active" style="--optionBackground:url(/static/img/box_hamburger.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <div class="main">HAMBURGERS</div>
            </div>
            <div class="info">
                <div class="sub text-right bb1"><a  href="/edit/categorias/1">EDITAR</a></div>
            </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(/static/img/refeicao.jpg);">
        <div class="shadow"></div>
        <div class="label">

            <div class="icon">
                <div class="main">PORÇOES/SALGADOS</div>
            </div>
            <div class="info">
                <div class="sub text-right bb2"><a  href="/edit/categorias/2">EDITAR </a></div>
            </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(/static/img/pizza1.jpg);">
        <div class="shadow"></div>
        <div class="label">

            <div class="icon">
                <div class="main">PIZZAS</div>
            </div>
            <div class="info">
                <div class="sub text-right bb3"><a   href="/edit/categorias/3">EDITAR</a></div>
            </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(/static/img/carne_sol.jpg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <div class="main">CARNES</div>
            </div>
            <div class="info">
                <div class="sub text-right bb4"><a  href="/edit/categorias/4">EDITAR</a></div>
            </div>
        </div>
    </div>
    <div class="option" style="--optionBackground:url(/static/img/bebidas.png);">
        <div class="shadow"></div>
        <div class="label">

            <div class="icon">
                <div class="main">BEBIDAS</div>
            </div>
            <div class="info">
                <div class="sub text-right bb5"><a href="/edit/categorias/5">EDITAR</a></div>
            </div>
        </div>
    </div>
</div>
    </div>


<!--<div class="container-fluid">-->
<!--    <div class="row">-->
<!--        <div class="vapo col-md-4 col-xs-12">-->
<!--            <div class="bg1 viral move"></div>-->
<!--                <div class="info">-->
<!--                    <div class="row">-->
<!--                        <div id="mainling" class="mainling col ">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <H3>MENUS/CARDÁPIOS</H3>-->
<!--                                </li>-->
<!--                                <li style="margin-top:50px;">-->
<!--                                    <a href="#" class="btn_enter" id="menus_holder"-->
<!--                                       onclick="toggle_visibility('obj_menu','mainling');">EDITAR</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div style="display:none;" id="obj_menu" class="col obj_menu text-right">-->
<!--                            <h4>POR CATEGORIAS:</h4>-->
<!--                            <ul class="select_menu">-->
<!--                                <li><a href="/edit/categorias/1">HAMBURGERS</a></li>-->
<!--                                <li><a href="/edit/categorias/2">PORÇÕES</a></li>-->
<!--                                <li><a href="/edit/categorias/3">REFEIÇÕES</a></li>-->
<!--                                <li><a href="/edit/categorias/4">DOCES</a></li>-->
<!--                                <li><a href="/edit/categorias/5">BEBIDAS</a></li>-->
<!--                            </ul>-->
<!--                            <h4>VER TODOS MENUS:</h4>-->
<!--                            <ul class="select_menu">-->
<!--                                <li><a href="/edit/categorias/0">VISUALIZAR &ndash;&gt;</a></li>-->
<!--                            </ul>-->

<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--        </div>-->
<!--        <div class="vapo col-md-4 col-xs-12">-->
<!--                <div class="bg2 viral move"></div>-->
<!--                <div class="info" >-->
<!--                    <h1>Hello, world!</h1>-->
<!--                </div>-->

<!--        </div>-->
<!--        <div class="vapo col-md-4 col-xs-12">-->
<!--            <div class="bg2 viral move" ></div>-->
<!--                <div class="info">-->
<!--                <h1>Hello, world!</h1>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(".option").click(function(){
   $(".option").removeClass("active");
   $(this).addClass("active");

});


</script>

{% endblock %}




