{% extends "base.html" %}
{% block content %}


<div class="checkout_body">
    <div class="dash_checkout2">
        <div class="venus text-center">
            {% for cart in pedido %}
            <div class="item_invoice text-left">
                <div class="item_span row container">
                    <span class="names_check">
                        <a>{{cart.3}} </a>
                    <a class="anm">{{cart.4}}</a>
                    </span>
                    <span class="X_qnt">
                        <a> X </a>
                    <a>{{cart.5}}</a>

                    </span>
                    <a class="cck">{{cart.6}}</a>
                </div>
            </div>
            {% endfor %}
            <div class="green">
                VALOR A PAGAR: {{amount}}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

                <div class="card pay_cart">
                    <div>
                        <img width="160" src="/static/img/cash.png">
                    </div>
                    <div class="">
                        <h5>PAGAMENTO EM DINHEIRO NA<BR> ENTREGA</h5>
                    </div>
                    <form action="/charge" method="get">
                        <button class="pd5">DINHEIRO</button>
                    </form>
                </div>


                <div class="card pay_cart">
                    <div>
                        <img width="160" src="/static/img/rain.png">
                    </div>
                    <div class="text_checkbox">
                        <h5>PAGAMENTO COM MULTIBANCO</h5>
                    </div>
                    <form action="/charge" method="post">
                        <script
                                src="https://checkout.stripe.com/checkout.js"
                                class="stripe-button"
                                data-key="{{ key }}"
                                data-description="DOM HAMBURGER"
                                data-amount="{{session.amount}}"
                                data-locale="auto">

                        </script>
                        <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';





                        </script>
                    </form>
                    <button class="pd5" onclick="myPay_strip()">CARTÃO DE CRÉDITO</button>
                    <script>
                function myPay_strip(){
                document.getElementsByClassName("stripe-button-el")[0].click();

        }





                    </script>
                </div>


            </div>

        </div>


    </div>
</div>


{% endblock %}