<div class="box">
    <div class="logger container-fluid text-center">

        <div class="title_log text-center">
            <h1>
                MELHOR HAMBURGUER
                <br>DA FIGUEIRA DA FOZ
            </h1>
            <div class="a_link container">
                <div class="row">
                    <div style="border-right: 1px solid #fff;" class="col-6">
                        <button class="btn shell next-viewport-down">PEDIR AQUI <i class="fas fa-hamburger"></i></button>
                    </div>
                    <div class="whats col-6">
                        <a href="whatsapp://send?text=Hello World!&phone=+351920241115">
                            <small style="font-weight:300;">ou</small> <img width="30" style="margin-left:5px;" src="../static/img/whatsapp.svg">
                            pelo WhatsApp
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--        <img height="660" src="../static/img/box_hamburger_banner.jpg">-->
    </div>
</div>
