
<div class="bg-black container-fluid text-center">
    <h1 class="menu_title">ESCOLHA SUA BEBIDA:</h1>
    <div class="bg-row row">
        {% for x in bebidas %}
        <div class="col-md-4">
            <div class="card cardapio">
                <div class="card-header">
                    <div class="tag_price">
                        <div class="flex">
                        <span> {{x.2}} </span>
                        <div class="tag_tt"></div>
                            </div>
                    </div>
                     <img src="{{ url_for('uploaded_file', filename=x.6) }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <div class="title_card">
                        <h4>{{x.1}}</h4>
                    </div>
                    <hr>
                    <div  style="display:none;"  class="details_card">
                        <div class="row">
                            <div class="col-4 recipe_details">
                                <div class="details_item">
                                    <img width="20" src="../static/img/clock.svg">
                                    <span class="value">{{x.4}}</span>
                                    <div>
                                        <span class="title_details">Minutos</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 recipe_details">
                                <div class="details_item">
                                    <img width="25" src="../static/img/menu_book-24px.svg">
                                    <span class="value">{{x.8}}</span>
                                    <div>
                                        <span class="title_details">Ingredientes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 recipe_details">
                                <div class="details_item">
                                    <img width="25" src="../static/img/restaurant_menu-24px.svg">
                                    <span class="value">{{x.5}}</span>
                                    <div>
                                        <span class="title_details">Serving</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:none;" class="box_r container-fluid">

                        <ul class="unlist">
                            <input type="hidden" class="rel_ingredientes" value="{{x.3}}">
                        </ul>
                    </div>
                    <div class="content__footer ">
                        <a data-name="{{x.1}}" id="{{x.0}}" data-price="{{x.2}}" class="add-to-cart" href="#">ADICIONAR AO CARRINHO<img
                                    width="30" src="../static/img/hamburger-solid-blue.svg"></a>
                    </div>
                </div>
            </div>

        </div>
             {% endfor %}

        <div class="col-md-4">

<!--            <div class="card cardapio">-->
<!--               VER MAIS-->
<!--            </div>-->

        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

</script>