<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div id="login_body" class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div id="login_modal_body" class="container-fluid">


                            <img src="./static/img/logo_dom.svg">


                            <div id="front" class="login-form front">
                                <form method="POST" action="{{ url_for('login') }}">
                                    <div class="input-group">
                                        <!--                              <label class="label-form">LOGIN</label>-->
                                        <input type="email" class="input-form" name="EMAIL" autocomplete="off"
                                               placeholder="LOGIN">
                                    </div>
                                    <div class="input-group">
                                        <!--                              <label class="label-form">SENHA</label>-->
                                        <input type="password" class="input-form" name="PASSWORD" autocomplete="off"
                                               placeholder="SENHA">
                                        <a href="#" class="register">esqueceu a senha?</a>
                                    </div>
                                    <div class="input-group_access text-center">
                                        <input type="submit" class="button_4" value="ACESSAR">

                                    </div>
                                </form>
                                <button type="submit" id="btn_front" class="button_5">ou registre-se<strong
                                        style="margin-left:2px;">AQUI</strong></button>

                            </div>
                            <div id="back" class="login-form back">
                                <form class="blend" action="{{ url_for('register') }}" method="POST">
                                    <div class="input-group rec">
                                        <input class="input-form" type="text" name="EMAIL" placeholder="EMAIL"
                                               autocomplete="off" title="POR FAVOR, PREENCHA O SEU EMAIL" required>
                                    </div>
                                    <div class="input-group rec">
                                        <input class="input-form" type="password" name="PASSWORD"
                                               placeholder="PASSWORD"
                                               autocomplete="off" title="POR FAVOR, PREENCHA UMA SENHA VÁLIDA" required>
                                    </div>

                                    <div class="input-group rec">
                                        <input type="text" class="input-form" name="NOME" autocomplete="off"
                                               placeholder="NOME COMPLETO" title="POR FAVOR, PREENCHA O SEU NOME" required>
                                    </div>

                                    <div class="input-group rec">
                                        <input type="text" class="input-form" name="ENDERECO" autocomplete="off"
                                               placeholder="ENDEREÇO PARA ENTREGA" title="POR FAVOR, PREENCHA O SEU ENDEREÇO" required>
                                    </div>
                                    <div class="input-group rec">
                                        <input type="text" class="input-form" name="TELEFONE" autocomplete="off"
                                               placeholder="TELEFONE"  title="POR FAVOR, PREENCHA O SEU TELEFONE"required>
                                    </div>

                                    <div class="input-group text-center">
                                        <input type="submit" class="button_4" value="REGISTRAR">
                                    </div>
                                </form>
                                <button type="submit" id="btn_back" class="button_5"><strong>já tenho login</strong>
                                </button>

                            </div>


                </div>

            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul id="Message" class="flashes text-center">
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><script>
    $(document).ready(function (e) {
			$('#submit_cart').on('click', function () {
			var data = shoppingCart.listCart();
			data.push({'amount': shoppingCart.totalCart().toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')*100});

			console.log(data);
			event.preventDefault();

			$.ajax({
					url: "{{ url_for('checkout') }}", // point to server-side URL
					dataType: 'json', // what to expect back from server
					cache: false,
					contentType: false,
					processData: false,
					data: JSON.stringify(data),
					type: 'post',
					success: function (data) {

                $("#output").text(data.msg);
                console.log("SUCCESS : ", data);
                if(data.category == 'success'){
                 $("#submit_box").prop("disabled", false);
                  shoppingCart.clearCart();
                 window.location.href = "/checkout";
                }
                else{

                }
            },
            error: function (e) {

                $("#output").text(e.responseText);
                console.log("ERROR : ", e);



            }
				});


		});
	});

</script>